* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 1fr 50px;
}

header {
    margin: auto;
    border-bottom: 1px solid black;
}

.container {
    margin: 0 auto;
}

footer {
    margin: auto;
}

form {
    display: flex;
}

.form-group {
    align-self: center;
}

.tdItems {
    text-align: center;
}

th {
    text-align: center;
}

.required {
    color: red;
}

.button {
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;
    border: 0;
}