* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 1fr 50px;
}

header {
    margin: auto;
    border-bottom: 1px solid black;
}

.container {
    margin: 0 auto;
}

footer {
    margin: auto;
}

form {
    display: flex;
}

.form-group {
    align-self: center;
}

.tdItems {
    text-align: center;
}

th {
    text-align: center;
}

.required {
    color: red;
}

.button {
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;
    border: 0;
}

[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead,
tbody,
tr {
    display: block;
}

tbody {
    height: 60dvh;
    /* Or px, %, etc. */
    overflow-y: auto;
    /* Scroll vertically */
}

thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}